@import '../../styles/variables';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


//Variables
//-------------------------------------------



.whatsappButton {
  background-color: $accent-color;
  color: $primary-color;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  font-family: $font-secondary;
  font-size: 1.2rem;
  
  //border: none;
  cursor: pointer;
  display: inline-block; // Cambiado de inline-flex a inline-block
  text-align: center; // Asegura que el texto esté centrado
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: $accent-color; // Cambio de color al pasar el mouse
    transform: translateY(-2px); // Efecto de elevación al pasar el mouse
    text-decoration: none;
  }

  &:active {
    transform: scale(0.95);
  }
}
