@import '../../styles/variables.scss';

.footer {
    background-color: $light-color;
    color: $primary-color;
    padding: $spacing-4;

    .containerFooter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
}

.textFooter{
    text-align: center;
    font-family: $font-secondary;
    font-size: 1.2rem;
    margin-top: $spacing-4;
}

.linkFooter {
    color: $primary-color;
    text-decoration: none;
    transition: $transition-fast;
    text-align: center;
    font-family: $font-secondary;  
    font-size: 1.2rem;
}

.linkFooter:hover {
    text-decoration: underline;
    color: $accent-color;
    
}



